.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    font-family: roboto slab, serif;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 10px;
}

.produto:nth-child(even) {
    background: #fff1c1;


}

;

.produto:nth-child(odd) {
    background: white;
}

;

.delete-button {
    background-color: red;
    font-size: 10pt;
    border-radius: 40%;
    color: aliceblue;
    font-weight: bold;

}

#formulario {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex-direction: column;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 12px;
    height: 430px;

}
#formulario input{
    width: 350px;
    height: 30;

}
.labelInput {
    display: flex;
    flex-direction: column;
}

#btAtualizar {
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 167px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

#btAtualizar:disabled{
    background-color: rgb(199, 192, 192);
    color: rgb(131, 114, 114);
    cursor: not-allowed;
}

#btCancelar:disabled{
    background-color: #FFF;
    color: #9A9A9A;
    border: 1px solid #c0b7b7;
    cursor:not-allowed;
}




#btCancelar {
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 118px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: ubuntu;
    font-size: 24px;
    font-style: normal;
    display: flex;
    border: none;
}


#fieldset {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(168, 15, 161, 0.25);
}

#layout {
    width: 1440px;
    height: 1024px;
    background: #FEFFE4;
    padding: 50px;
}

#preco,
#id,
#descricao {
    color: #9a9a9a;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: italic;
    font-weight: 400px;
    line-height: normal;
}   
#botao {
    display: flex;
justify-content: space-evenly;
    
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo {
    text-align: center;
}























































